.homepagebar {
width: 100%;
display: flex;
align-items: center;
padding: 0px 16px;
box-sizing:border-box;
position: sticky; 
top: 0; background: white; 
z-index: 100;
border-bottom: 1px solid #856eea;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', serif;
}
#homebutton {
cursor: pointer;
}

.bar-left {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: baseline;
gap: 10px;
}

.bar-mid {
flex: 1;
display: flex;
justify-content: center;
align-items: baseline;
}

.bar-right {
flex: 1;
display: flex;
justify-content: flex-end;
align-items: baseline;
}

.elements_sidebyside { 
display: flex; 
justify-content: flex-start; 
gap: 10px;
align-items: baseline;
}
.space-types { 
display: flex; 
justify-content: flex-start; 
gap: 50px;
align-items: baseline;
}

#searchbarid{
width: 300px;
height: 29px;
font-size: 20px;
border-radius: 5px;
font-family: 'Rajdhani', serif;
font-weight: bold;
}

#searchbutton {
padding: 6px 9px;
font: 16px;
border-radius: 5px;
cursor: pointer;
}

.searchbarbut {
display:flex;
align-items: center; 
position: relative;
}

#notfoundbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 16px;
  box-sizing: border-box;
}

.home-btn{
font-family: 'Rajdhani', serif;
font-weight: bold;
}

.notfound-title {
  margin: 8px 0 16px;
}

#search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #856eea;
  border-radius: 8px;
  z-index: 200;
  display: none;
  max-height: 267px;
  overflow-y: auto;
  min-height: 50px;
}

#search-dropdown.active {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.dropdown-item:hover {
  background: #f0edff;
}

.dropdown-item img {
  width: 40px;
  height: 40px;
}

.dropdown-item-name {
  flex: 1;
  font-weight: bold;
  font-size: 15px;
}