.homepagebar {
width: 100%;
display: flex;
align-items: center;
padding: 0px 16px;
box-sizing:border-box;
position: sticky; top: 0; 
background: white; 
z-index: 100;
border-bottom: 1px solid #856eea;
}

#homebutton {
cursor: pointer;

}
body {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', serif;
}

.bar-left {
flex: 1;
display: flex;
justify-content: flex-start;
align-items: baseline;
gap: 10px;
}

.bar-mid {
flex: 1;
display: flex;
justify-content: center;
align-items: baseline;
}

.bar-right {
flex: 1;
display: flex;
justify-content: flex-end;
align-items: baseline;
}

.elements_sidebyside { 
display: flex; 
justify-content: flex-start; 
gap: 10px;
align-items: baseline;
}
.space-types { 
display: flex; 
justify-content: flex-start; 
gap: 50px;
align-items: baseline;
}

#pokeinfo img {
width: 133px;
}

#pokeinfo {
text-transform: capitalize;
padding: 0px 16px;
box-sizing:border-box;
}

.sprite-stats{
  display: flex;
  align-items: center;
  gap: 20px;
}

.stats {
  flex: 1;
}

.stat-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.stat-name {
  width: 49px;
  font-weight: bold;
}

.stat-num {
  width: 30px;
  text-align: right;
  font-weight: bold;
}

.stat-bar-container {
  width: 200px;
  background-color: lightgray;
  border-radius: 5px;
  height: 10px;
}

.stat-bar {
  height: 10px;
  background-color: green;
  border-radius: 5px;
}

#searchbarid{
width: 300px;
height: 29px;
font-size: 20px;
border-radius: 5px;
font-family: 'Rajdhani', serif;
font-weight: bold;
}

#searchbutton {
padding: 6px 9px;
font: 16px;
border-radius: 5px;
cursor: pointer;
}

.searchbarbut {
display:flex;
align-items: center; 
}

.type-badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 67px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  box-shadow: 0 0 0 2px black, 0 0 0 4px white, 0 0 0 6px black;
  margin-right: 5px;
  text-align: center;
  width: 67px;
  box-sizing: border-box
}

.type-normal   { background-color: #a8a878; }
.type-fire     { background-color: #f08030; }
.type-water    { background-color: #6890f0; }
.type-electric { background-color: #f8d030; }
.type-grass    { background-color: #78c850; }
.type-ice      { background-color: #98d8d8; }
.type-fighting { background-color: #c03028; }
.type-poison   { background-color: #a040a0; }
.type-ground   { background-color: #745709; }
.type-flying   { background-color: #a890f0; }
.type-psychic  { background-color: #f85888; }
.type-bug      { background-color: #a8b820; }
.type-rock     { background-color: #b8a038; }
.type-ghost    { background-color: #705898; }
.type-dragon   { background-color: #7038f8; }
.type-dark     { background-color: #31251d; }
.type-steel    { background-color: #b8b8d0; }
.type-fairy    { background-color: #ee99ac; }